doctype html
- var language = (lang !== undefined) ? lang : "en"
html(lang="#{language}")
	head
		title= (title !== "Visualcosita") ? title + " | " + site.title : site.title

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width', initial-scale='1.0')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='@fdoxyz')
		meta(name='twitter:title', content='#{title}')
		
		if title === "Visualcosita"
			meta(name='description' content='Visualcosita is a blog mostly about programming. Basically documenting my personal journey of experimenting with different technologies. Written by Fernando Valverde')
			meta(name='keywords' content='programming docker javascript swift objectice-c node.js blog')
		else
			meta(name='description' content='Blog post: #{title}')
			meta(name='keywords' content='#{tags}')
		
		link(rel='stylesheet', type='text/css', href='/css/normalize.css')
		link(rel='stylesheet', type='text/css', href='/css/skeleton.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		link(rel='stylesheet', type='text/css', href='/css/darkula.css')
		link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Ubuntu+Mono')
		
		link(rel="shortcut icon" type="image/png" href="/favicon.ico")

	body
		include ./nav.jade
		#content.container
			block content
		include ./footer.jade
