extends ./partials/layout
- var language = (lang !== undefined) ? lang : "en"
- var localizedPosts = (language === "en") ?  collections.posts : collections.spanishPosts

block content
    if language === "en"
        div.article-teaser
            p.
                In here you'll find some blog posts talking about experiments I carry out for documenting purposes. Let's all hope I improve my writing with time and practice. Older posts will probably contain filthier language, sorry in advance for that.
            p.
                This is basically a work in progress that never ends, Pura Vida.
    else
        div.article-teaser
            p.
                Aquí se encuentran varios artículos cortos donde me explico a mí mismo los experimentos que se me ocurre intentar. Ojalá mejoren los experimentos y la forma en que escribo con el tiempo. Encontrarán peor lenguaje en los artículos más viejos, sorry.
            p.
                Básicamente un trabajo en progreso sin fin, Pura Vida.
    ul.article-list
        if language === "en"
            each post in collections.posts
                li
                    div.article-teaser
                        h2.article-title
                            - var link = "/" + post.path
                            a(href="#{link}") #{post.title}
                        div.article-date #{moment(post.date).format("MMMM Do YYYY")}
                        div.article-teaser!= post.excerpt
                        span
                            a(href="#{link}" class="read-more") moar...
        else
            each post in collections.spanishPosts
                li
                    div.article
                        h2.article-title
                            - var link = "/" + post.path
                            a(href="#{link}") #{post.title}
                        div.article-date #{moment(post.date).format("MMMM Do YYYY")}
                        div.article-teaser!= post.excerpt
                        span
                            a(href="#{link}" class="read-more") más...
